body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-image: url('trackphoto_2023-08-12_02-58-16.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label, input {
    margin-bottom: 10px;
}

button {
    padding: 8px 16px;
    background-color: #030303;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #171718;
}

.hidden {
    display: none;
}

#trackingResults {
    margin-top: 20px;
}